<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<location path="Public" allowOverride="false">
		<system.webServer>
			<staticContent>
				<clear />
				<mimeMap fileExtension=".png" mimeType="image/png" />
				<mimeMap fileExtension=".jpg" mimeType="image/jpeg" />
				<mimeMap fileExtension=".jpeg" mimeType="image/jpeg" />
			</staticContent>
		</system.webServer>
	</location>

</configuration>